<div class="Neon Neon-theme-dragdropbox" *ngIf="!isMultiImg">
  <input
    style="z-index: 999; opacity: 0; width: 200px; height: 200px; position: absolute; right: 0px; left: 0px; margin-right: auto; margin-left: auto;"
    name="files[]" id="filer_input2" (change)="onChange($event)" type="file">
  <div class="Neon-input-dragDrop" style="border-radius: 50%;padding: 10px 25px;">
    <div class="Neon-input-inner">
      <div style="position:absolute;    top: 0px;
      left: 0px;">
        <div *ngIf="imageUrl!='' && imageOnLoad.length==0" class="">
          <img class="imgCustim" src="{{imageUrl}}" />
        </div>
        <div *ngFor="let image of imageOnLoad;let i = index" class="AddNewForm-imagescontainer-smallimage"
          style="position: relative;">
          <img class="imgCustim" id="{{'uploadImage'+i}}" />
          <img class="imgCustimLoader" src="assets/images/infinity_loader_by_volorf.gif" />
        </div>
      </div>
      <div class="Neon-input-icon"><i class="fa fa-file-image-o"></i></div>
      <div class="Neon-input-text">
        <h3>Drag &amp; Drop here</h3> <span style="display:inline-block; margin: 15px 0">or</span>
      </div><a class="Neon-input-choose-btn blue">Browse Files</a>
    </div>
  </div>
</div>


<div *ngIf="isMultiImg" style="padding: 10px 0px;display: flex;overflow-x: auto;overflow-y: hidden;">
  <div class="multiImgCont" *ngIf="isWithAdd">
    <div class="Neon Neon-theme-dragdropbox">
      <input
        style="z-index: 999; opacity: 0; width: 200px; height: 200px; position: absolute; right: 0px; left: 0px; margin-right: auto; margin-left: auto;"
        name="files[]" id="filer_input2" (change)="onChange($event)" multiple type="file">
      <div class="Neon-input-dragDrop" style="padding: 20px 25px;">
        <div class="Neon-input-inner">
          <div class="Neon-input-icon"><i class="fa fa-file-image-o"></i></div>
          <div class="Neon-input-text">
            <h3>Drag &amp; Drop here</h3> <span style="display:inline-block; margin: 15px 0">or</span>
          </div><a class="Neon-input-choose-btn blue">Browse Files</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let image of arrayImageUrl;let i = index" class="multiImgCont">
    <img class="imgCustim" src="{{image.file}}" />
  </div>
  <div *ngFor="let image of imageOnLoadArray;let i = index" class="AddNewForm-imagescontainer-smallimage multiImgCont"
    style="position: relative;">
    <img class="imgCustim" id="{{'uploadImage'+i}}" />
    <img class="imgCustimLoader" src="assets/images/infinity_loader_by_volorf.gif" />
  </div>
</div>
