<form (ngSubmit)="onFormSubmit()" [formGroup]="centerForm" class="levelForm">
  <div class="container">
    <div class="row">
      <div class="col-sm col-sm-6">
        <div class="form-group">
          <label for="numberOfTimes">{{"GLOBAL.NAME_AR"|translate}}</label>
          <input class="form-control" formControlName="nameAr" type="text" (input)="isSubmitted=false;message=''"
            placeholder="{{'GLOBAL.ENTER'|translate}} {{'GLOBAL.NAME_AR'|translate}}">
          <label *ngIf="centerForm.get('nameAr').invalid && isSubmitted"
            class="text-danger errorLabel">{{'ERROR_FORM.ERROR_FIELD_REQUIRED'|translate}}</label>
        </div>
        <div class="form-group">
          <label for="numberOfTimes">{{"GLOBAL.NAME_EN"|translate}}</label>
          <input class="form-control" formControlName="nameEn" type="text" (input)="isSubmitted=false;message=''"
            placeholder="{{'GLOBAL.ENTER'|translate}} {{'GLOBAL.NAME_EN'|translate}}">
          <label *ngIf="centerForm. get('nameEn').invalid && isSubmitted"
            class="text-danger errorLabel">{{'ERROR_FORM.ERROR_FIELD_REQUIRED'|translate}}</label>
        </div>
        <div class="form-group">
          <label for="numberOfTimes">{{"GLOBAL.STATES"|translate}}</label>
          <ng-select [ngClass]="'ng-select'" [options]="statesOption" formControlName="statesId" [multiple]="true">
          </ng-select>

          <label *ngIf="centerForm.get('statesId').invalid && isSubmitted"
            class="text-danger errorLabel">{{'ERROR_FORM.ERROR_FIELD_REQUIRED'|translate}}</label>
        </div>
      </div>
      <div class="col-sm col-sm-6">
        <agm-map (mapClick)="mapClicked($event)" [latitude]="lat" [longitude]="lng">
          <agm-marker (dragEnd)="markerDragEnd($event)" [latitude]="marker.lat" [longitude]="marker.lng"
            [markerDraggable]="true"></agm-marker>
        </agm-map>

      </div>
    </div>

    <div class="row">
      <div class="col-sm submit-col">
        <button  (click)="back()" class="btn btn-danger" type="button">
          {{"GLOBAL.BACK"|translate}}
        </button>
        <button *ngIf="!isUpdate"  class="btn btn-success" type="submit">
          {{"GLOBAL.ADD"|translate}}
        </button>
        <!-- <i *ngIf="!levelForm.invalid&&submitted" class="fa fa-circle-o-notch fa-2x fa-spin spinner-submit"></i> -->
        <button *ngIf="isUpdate"  class=" btn btn-success" type="submit">
          {{"GLOBAL.UPDATE"|translate}}
        </button>
      </div>
    </div>
  </div>
</form>
