<div class="cd-popup" role="alert">
  <div class="cd-popup-container">
    <div class="swal2-icon swal2-warning" style="display: block;">!</div>
    <h4>{{"MODAL.CONFIRMDELETE.AREYOUSURE?"| translate}}</h4>
    <p>{{"MODAL.CONFIRMDELETE.YOUWANTTODELETE"| translate}}</p>
    <ul class="cd-buttons">
      <li (click)="close()">
        {{"MODAL.CONFIRMDELETE.YESDELETEIT"| translate}}
      </li>
      <li>
        {{"MODAL.CONFIRMDELETE.NOTHANKS"| translate}}
      </li>
    </ul>
    <!-- <a href="#0" class="cd-popup-close img-replace"></a> -->
  </div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->
