<div class="cd-popup" role="alert">

  <div class="cd-popup-container">
    <div *ngIf="viewMap==false">
      <div class="cd-popup-header">
        <h3>{{"MODAL.ORDERINFO.TITLE"| translate}}</h3>
      </div>
      <div class="row" style="padding :20px 0px;">
        <div class="col-sm-4">
          <strong>
            {{order.user?.first_name}} {{order.user?.last_name}}
          </strong>
        </div>
        <div class="col-sm-4">
          <strong>
            {{order.user?.mobile}}
          </strong>
        </div>

        <div class="" [ngClass]="order.isDelivery==false ? 'col-sm-4' : 'col-sm-2'">
          <strong *ngIf="order.user?.status=='activated'" class="fa fa-check-circle" aria-hidden="true"
            style="font-size: 18px;color: green;">
          </strong>
          <strong *ngIf="order.user?.status=='deactivated'" class="fa fa-times-circle" aria-hidden="true"
            style="font-size: 18px;color: #e8423a;">
          </strong>
        </div>

        <div class="col-sm-2" *ngIf="order.isDelivery" (click)="toggleViewMap()">
          <strong class="fa fa-map-marker customMapMarker" aria-hidden="true">
          </strong>
        </div>
      </div>
      <div class="row" *ngIf="order.centerId" style="padding :20px 0px;">
        <div class="col-sm-4">
          <strong>
            {{order.center[languageKey['name']]}}
          </strong>
        </div>
        <div class="col-sm-4">
          <strong>
            <!-- {{order.user?.mobile}} -->
          </strong>
        </div>

        <div class="col-sm-4">
          <strong *ngIf="order.center?.status=='activated'" class="fa fa-check-circle" aria-hidden="true"
            style="font-size: 18px;color: green;">
          </strong>
          <strong *ngIf="order.center?.status=='deactivated'" class="fa fa-times-circle" aria-hidden="true"
            style="font-size: 18px;color: #e8423a;">
          </strong>
        </div>

      </div>

      <div class="row" style="padding :20px 0px;">
        <div class="col-sm-4">
          <strong class="badge badge-info"> {{order.total}}</strong>
        </div>
        <div class="col-sm-4">

          <strong *ngIf=" (order.status=='unavailable')" class="badge badge-danger">
            {{"GLOBAL.STATUSLIST."+ order.status|translate}}</strong>
          <strong *ngIf=" (order.status=='available')" class="badge badge-success">
            {{"GLOBAL.STATUSLIST."+ order.status|translate}}</strong>

          <strong *ngIf=" (order.status=='pending' || order.status=='packed' ||order.status=='assigned')"
            class="badge badge-warning">
            {{"GLOBAL.STATUSLIST."+order.status|translate}}</strong>


          <strong *ngIf=" (order.status=='delivered' || order.status=='delivering')" class="badge badge-success">
            {{"GLOBAL.STATUSLIST."+order.status|translate}}</strong>



          <strong *ngIf=" (order.status=='canceled')" class="badge badge-inverse">
            {{"GLOBAL.STATUSLIST."+order.status|translate}}</strong>


        </div>
        <div class="col-sm-4">
          <strong>
            {{formatDate(order.createdAt)}}
          </strong>
        </div>

      </div>
      <div class="row" style="margin: 0px 0px;max-height: 200px;overflow: scroll;" *ngIf="order.products">
        <div class="col-sm-12">
          <app-custom-table [fields]="fields" [withPage]="false" [count]="order.products.length"
            [limit]="order.products.length" [data]="order.products">
          </app-custom-table>
        </div>
      </div>
      <ul class="cd-buttons">
        <li (click)="close()">
          {{"GLOBAL.DONE"| translate}}
        </li>
        <li (click)="changeState()">
          {{"GLOBAL.CHANGESTATE"| translate}}
        </li>
      </ul>
    </div>
    <div class="row" *ngIf="viewMap">
      <div class="backButton">
        <strong (click)="toggleViewMap()" class="fa fa-arrow-left" aria-hidden="true"
          style="font-size: 24px;color: #666666;"></strong>
      </div>
      <div class="col-sm col-sm-12">
        <agm-map [latitude]="order.deliveryLat" [longitude]="order.devliveryLng">
          <agm-marker [latitude]="order.deliveryLat" [longitude]="order.devliveryLng"></agm-marker>
        </agm-map>

      </div>
    </div>

  </div>
</div>
